.card-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  
  .icon-3x {
    font-size: 3rem;
  }
  
  
  .ml-3 {
    margin-left: 1rem;
  }
  
  .mr-3 {
    margin-right: 1rem;
  }
  
 
  @media (max-width: 576px) {
    .card-body {
      flex-direction: column;
      text-align: center;
    }
    
    .ml-3, .mr-3 {
      margin: 0;
    }
  }